body {
	background-color: black;
}
div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("images/board.jpg") no-repeat;
}

div#messageArea {
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgb(83, 175, 19);
}
.hit {
	background: url("images/ship.png") no-repeat center center;
}
.miss {
	background: url("images/miss.png") no-repeat center center;
}
table {
	border-spacing: 0px; 
	position: absolute;
	left: 173px;
	top: 98px;
}
td {
	width: 94px;
	height: 94px;
}
form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: rgb(83, 175, 19);
}
form input {
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1em;
}

.overlay-text,
.success-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: green;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
       background-color:  rgba(0,0,0,0);
       font-size: 0;
    }
    to {
        font-size: 6em;
        background-color: rgba(0,0,0, .8);
    }
}

.overlay-text-small {
    font-size: .3em;
}